%body
  /[if lt IE 7]
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  %section.section-wrapper
    .container
      .row
        .span12
          %h3.section-header Escoge tu portada
          %ul.thumbnails
            - @covers.each do |cover|
              %li.span3
                %h4= cover.title
                = link_to image_tag("covers/#{cover.url_thumb}", :style => "width: 292px; height: 110px;", "data-rel" => "lightbox[gallery]", :class => "thumbnail with-content"), select_cover_path(cover),:method => :put

