%body
  /[if lt IE 7]
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  %header#header
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "index.html"} Theme Venera
          #top-navigation.nav-collapse.subnav-collapse.collapse.pull-right
            %ul.nav
              %li
                %a{:href => "index.html"} Home
              %li.dropdown.active
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Features
                %ul.dropdown-menu
                  %li
                    %a{:href => "features/pricing_tables.html"} Pricing Table
                  %li
                    %a{:href => "features/awesome_icons.html"} Awesome Icons
                  %li.divider
                  %li.nav-header Pages Examples
                  %li
                    %a{:href => "features/about_us_page.html"} About Us Page
                  %li
                    %a{:href => "gallery_of_images.html"} Gallery of Images
                  %li
                    %a{:href => "features/not_found_page.html"} Page not found
                  %li
                    %a{:href => "features/coming_soon_page.html"} Coming Soon Page
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Documentation
                %ul.dropdown-menu
                  %li
                    %a{:href => "documentation/get_started.html"} Get Started
                  %li
                    %a{:href => "documentation/scaffolding.html"} Scaffolding
                  %li
                    %a{:href => "documentation/base_css.html"} Base CSS
                  %li
                    %a{:href => "documentation/components.html"} Components
                  %li
                    %a{:href => "documentation/javascript.html"} Javascript
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Blog
                %ul.dropdown-menu
                  %li
                    %a{:href => "blog/single_post.html"} Single Post
                  %li
                    %a{:href => "blog/two_per_line.html"} Multiple Posts (two)
                  %li
                    %a{:href => "blog/one_per_line.html"} Multiple Posts (one)
              %li
                %a{:href => "contact.html"} Contact
            .top-account-control.visible-desktop
              %a.top-create-account{:href => "features/pricing_tables.html"} Create Account
              %a.top-sign-in{:href => "#"} Sign In
              .login-box
                %a.close.login-box-close{:href => "#"} &times;
                %h4.login-box-head Login Form
                .control-group
                  %label Username
                  %input.span2{:placeholder => "Input username...", :type => "text"}
                .control-group
                  %label Password
                  %input.span2{:placeholder => "Input password...", :type => "text"}
                .login-actions
                  %button.btn.btn-primary Log Me In
  %section.section-wrapper
    .container
      .row
        .span12
          %h3.section-header Gallery of images
          %ul.thumbnails
            %li.span3
              %a.thumbnail.with-content{:style => "width: 292px; height: 110px;", "data-rel" => "lightbox[gallery]", :href => "../../assets/test-square.png"}
                %img{:style => "width: 292px; height: 110px;", :alt => "Photo-card-big-1", :src => "../../assets/test-square.png"}/
                .thumbnail-hover-w
                  .thumbnail-hover-title Thumbnail Title
                  .thumbnail-hover-text Praesent magna turpis, tincidunt quis fringilla sit amet, fringilla vel eros. Nullam mi mi, convallis id vestibulum ut, volutpat ut risus. In iaculis augue vel magna aliquet posuere.
            %li.span3
              %a.thumbnail.with-content{:style => "width: 292px; height: 110px;", "data-rel" => "lightbox[gallery]", :href => "../../assets/test-square.png"}
                %img{:style => "width: 292px; height: 110px;", :alt => "Photo-card-big-1", :src => "../../assets/test-square.png"}/
                .thumbnail-hover-w{:style => "width: 277px; height: 30px;"}
                  .thumbnail-hover-title Uncharted
            
  %footer
    .pre-footer
      .container
        .row
          .span4
            .footer-logo
              %a
                Theme
                %strong Venera
            %ul.footer-address
              %li
                %strong Address:
                2850 Collins ave
                %br/
                Camden, NJ 32432-1343, USA
              %li
                %strong Phone:
                (324) 234-2343
              %li
                %strong Fax:
                (324) 366-5423
          .span4
            %h5.footer-header Recent Posts
            %ul.footer-list
              %li
                %a Vestibulum auctor dapibus
              %li
                %a Aliquam tincidunt mauris
              %li
                %a Lorem ipsum dolor sit
              %li
                %a Consectetur adipisicing elit
          .span4
            %h5.footer-header Photostream
            %ul.footer-img-list.thumbnails
              %li.span1
                %a.thumbnail
                  %img{:alt => "8b9890", :src => "../../assets/test-square.png"}/
              %li.span1
                %a.thumbnail
                  %img{:alt => "8b9890", :src => "../../assets/test-square.png"}/
              %li.span1
                %a.thumbnail
                  %img{:alt => "8b9890", :src => "../../assets/test-square.png"}/
              %li.span1
                %a.thumbnail
                  %img{:alt => "8b9890", :src => "../../assets/test-square.png"}/
              %li.span1
                %a.thumbnail
                  %img{:alt => "8b9890", :src => "../../assets/test-square.png"}/
              %li.span1
                %a.thumbnail
                  %img{:alt => "8b9890", :src => "../../assets/test-square.png"}/
              %li.span1
                %a.thumbnail
                  %img{:alt => "8b9890", :src => "../../assets/test-square.png"}/
              %li.span1
                %a.thumbnail
                  %img{:alt => "8b9890", :src => "../../assets/test-square.png"}/
    .deep-footer
      .container
        .row
          .span6
            .copyright Copyright &copy; 2012 Tamerlan Soziev. All rights reserved.
          .span6
            %ul.footer-links
              %li
                %a Some
              %li
                %a Footer
              %li
                %a Policy
              %li
                %a Terms Of Use
              %li
                %a Links
